<div ng-repeat="activity in activities.activitiesList.data track by $index" style="width: 100%; padding-bottom: 10px; border: 1px solid black;">
  {{activity.type}}
  <br/>
  {{activity.location}}  {{activity.distance}}
  <button style="float: right;" ng-click="activities.delete(activity.id)">Delete</button>
</div>
</br>
</br>
</br>
</br>
</br>

<h1> Add New User</h1>
<form class="registrationForm" name="registrationForm" ng-submit="activities.register()" role="form">
  <div class="form-group text-box details">
    <input type="text" name="type" id="type" class="form-control" ng-model="activities.activity.type" placeholder="Type" required>
  </div>

  <div class="form-group text-box details">
    <input type="text" name="location" id="location" class="form-control" ng-model="activities.activity.location" placeholder="Location" required>
  </div>

  <div class="form-group text-box details">
    <input type="text" name="distance" id="distance" class="form-control" ng-model="activities.activity.distance" placeholder="Distance" required>
  </div>

  <div class="form-group text-box details">
  </div>
      <button type="submit">
        <p >Add New User</p>
      </button>
  </div>
</form>
